	<h1>About this Angular 2 App </h1>

	
	<p>This is a small app I created to demonstrate Angular 2. The components used are as follows.</p>
	<ul>
		<li>Angular 2 Components </li>
		<li>Angular 2 Modules </li>
		<li>Angular 2 Observable http service using the <a href="https://developer.spotify.com/web-api/" target="_blank">Spotify open API</a> </li>
		<li>Angular 2 routing as demonstrated on this page. </li>
		<li>Bootstrap front end framework for responsive design. </li>
		<li>Simple UI interface. </li>
	</ul> 





